@import "./mixins";

.resourceGen {
  border: 3px solid #eee;
  overflow: auto;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .resourceFlex {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .continousBar {
      animation: continousBar 3s ease-in-out infinite alternate ;
    }
    .progressBar[value] {
      appearance: none;
      width: 70%;
      height: 1.65rem;


      &::-webkit-progress-bar {
        background-color: #333;
        border: 2px solid #888;
      }

      &::-webkit-progress-value {
        transition: all linear .5s;
        background-color: #aaa;
      }
    }

    .craftBtn {
      @include button($color: #ddd, $bgcolor: #222);
      font-size: 1.5rem;
      float: right;
      transition: all .2s;

      &:hover {
        background-color: #444;
      }
    }

    .amountDisplay {
      font-size: 1.5rem;
      color: #ddd;
      line-height: 8rem;
    }

    .resName {
      font-size: 2rem;
      color: #ddd;
    }

    .resourceIcon {
      width: 4rem;
    }
  }

  text-align: center;
  .dropDownArrow {
    width: 4rem;
    margin: -2rem auto 1rem auto;
    height: 2rem;
    cursor: pointer;
    transition: all .3s;
  }
  .additionalInfo {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;

    .infoPart {
      width: 50%;
      height: 90%;
      &:first-child {
        border-right: 1px solid #999;
      }
      .autoBtn {
        @include button();
        font-size: 2rem;
        margin-bottom: 1rem;
        transition: all .3s;
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
      .automatonDisplay {
        font-size: 1.5rem;
        padding: 1rem 2rem;
      }
    }
  }

}

@keyframes continousBar {
  0% {
    background-color: #777;
  }
  100% {
    background-color: #aaa;
  }
}